/* CSS : search.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f9fa;
    color: #333;
    line-height: 1.6;
}

header {
    background: #222;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

/* Style pour la barre de recherche */
.search-section {
    margin: 20px;
    text-align: center;
}

#search-bar {
    padding: 10px;
    width: 80%;
    max-width: 600px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

/* Style pour la liste des résultats */
.results {
    margin-top: 30px;
    text-align: center;
}

.movies-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.movie-card {
    width: 200px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-color: #fff;
    text-align: center;
}

.movie-card img {
    width: 100%;
    height: auto;
}

.movie-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.movie-card p {
    font-size: 14px;
    color: #555;
    margin: 10px;
    padding: 0 10px;
}

.movie-card:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

/* Style pour la section footer */
footer {
    text-align: center;
    margin-top: 30px;
    font-size: 14px;
    color: #777;
}

/* Style pour la suggestion de recherche */
.suggestions {
    display: none;
    text-align: left;
    margin-top: 10px;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    position: absolute;
    z-index: 10;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.suggestions div {
    padding: 8px;
    cursor: pointer;
}

.suggestions div:hover {
    background-color: #f4f4f4;
}